h1 {
  text-align: center;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
html, body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: left;
    min-width: 260px;
    color: #333;
}
#main {
    margin: 30px auto;
    padding: 15px;
    border: 0px solid;
    border-radius: 5px;
    background: #eee;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
div {
  text-align: center;
}
#tribute-info {
    display: block;
    margin-right: 350px;
    margin-left: 350px;
    text-align: left;
}
#img-div {
    margin: -5px;
    margin-top: 20px;
    width: 100%;
    border: 5px solid white;
    background: white;
    text-align: center;
}